.login_container{
    height: 500px;
    margin: 20px 20px 20px 20px;
    width:100%;
    justify-content: center;
    align-items: center;
}

.login_child{
    padding: 20px;
    border: 2px solid purple;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    border-radius: 10px;
    position: relative; 
    left:400px;
    width: 350px;
    height: 400px;
}

.login_child input{
    margin:0px 10px 0px 10px;
    background-color: rgb(238, 237, 234);
    border-radius: 4px;
}

.login_child button{
    margin: 0px 10px  0px 10px;
    background-color: yellow;
    border-radius: 4px;
}